<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head.ejs') %>
</head>
	<body>
		<div class="container">

			<% if(userLoggedIn) { %>
				<%- include('partials/header_true.ejs') %>
			<% } else { %>
				<%- include('partials/header.ejs') %>
			<% } %>
			
			<nav class="align-right">
				<p class="float-left">sort by:</p>
				<ul class="float-left">
					<li><a href="#"><strong>popular</strong></a></li>
					<li><a href="#">recent</a></li>
				</ul>
				<% if(userLoggedIn) { %>
					<p>|| <a href="/users/new">+ post new topic</a></p>
				<% } else { %>
					<p>|| please <a href="/login/index">log in</a> to <strong>post</strong></p>
				<% } %>
			</nav>

			<article class="main-post">
		
				<% for(var i=0; i < topic.length; i++) { %>
					<div class="post">
						<div class="like">
							+<%= topic[i].likes %>
						</div>
						<h2 class="title"><a href="/users/<%= topic[i]._id %>"><span><%= topic[i].topic %></span></a></h2>
						<p class="timestamp">submitted on <em><%= topic[i].time %></em> by <strong><span><%= topic[i].user %></span></strong></p>
						<p class="comments">[#] comments</p>
					</div>
				<% } %>

			</article>

			<%- include('partials/footer.ejs') %>
		</div>
	</body>
</html>