<!DOCTYPE html>
<html>
<head>
	<%- include('../partials/head.ejs') %>
</head>
	<body>
		<div class="container">

			<% if(userLoggedIn) { %>
				<%- include('../partials/header_true.ejs') %>
			<% } else { %>
				<%- include('../partials/header.ejs') %>
			<% } %>

			<div class="align-center">
				<h1>new post;</h1>
				<form action="/users/new" method="POST">
					<p>topic:</p>
					<input class="input" type="text" name="topic">
					<p>body:</p>
					<input class="input-body" type="text" name="body">
					<input type="hidden" name="time" value="<%= Date() %>">
					<input type="hidden" name="user" value="<%= username %>">
					<input type="hidden" name="likes" value=0>
					<input type="hidden" name="comments_num" value=0>
					<input class="submit" type="submit" value="post">
				</form>
			</div>
			<%- include('../partials/footer.ejs') %>
		</div>
	</body>
</html>