<!DOCTYPE html>
<html>
<head>
	<%- include('../partials/head.ejs') %>
</head>
	<body>
		<div class="container">
			<% if(userLoggedIn) { %>
				<%- include('../partials/header_true.ejs') %>
			<% } else { %>
				<%- include('../partials/header.ejs') %>
			<% } %>
			<div>
				<h1><%= topic.topic %></h1>
				<p class="show-data">submitted <em><%= topic.time %></em> by <strong><%= topic.user %></strong></p>
				<p class="show-p"><%= topic.body %></p>
				<hr>
				<form action="/users" method="POST">
					<h2>reply to thread</h2>
					<input class="input-comment" type="text" name="comment">
					<input class="submit" type="submit" value="post">
				</form>
				<br>
				<a href="/">return to main</a>
			</div>
			<%- include('../partials/footer.ejs') %>
		</div>
	</body>
</html>