<!DOCTYPE html>
<html>
<head>
	<%- include('../partials/head.ejs') %>
</head>
	<body>
		<div class="container">
			<% if(userLoggedIn) { %>
				<%- include('../partials/header_true.ejs') %>
			<% } else { %>
				<%- include('../partials/header.ejs') %>
			<% } %>
		
		<div class="show-main">
			<div class="show-put-form">
				<div class="show-fix">+</div>
				<form class="show-form-likes" action="/users/<%= topic._id %>?_method=PUT" method="POST">
				<input type="hidden" name="likes" value="<%= parseInt((topic.likes + 1), 10) %>">
				<input class="submit-like" type="submit" value="<%= topic.likes %>">
				</form>
			</div>
			
			<div class="show-body">
				<h1 class="show-h1 normalcase"><%= topic.topic %></h1>
				<p class="show-data">submitted <em><%= topic.time %></em> by <strong class="normalcase"><%= topic.user %></strong></p>
					<br>
			</div>
		</div>

				<p class="show-p normalcase"><%= topic.body %></p>

				<% for(var i=0; i < topic.comments.length; i++) { %>
					<div class="comment-show">
						<strong class="normalcase"><%= topic.comments[i].author %>: </strong><p class="normalcase inline-p"><%= topic.comments[i].comment %></p>
					</div>
				<% } %>

		<% if(userLoggedIn) { %>
			<div class="show-form">
				<form action="/users/<%= topic._id %>" method="POST">
					<h2>reply to thread</h2>
					<input class="input-comment" type="text" name="comment">
					<input type="hidden" name="author" value="<%= username %>">
					<input class="submit" type="submit" value="post">
				</form>
				<br>
				<a href="/">return to main</a>
			</div>
		<% } else { %>
		<br>
		<p class="error text">please sign up or log in to post a comment.</p>
		<br>
		<a href="/">return to main</a>
		<% } %>
			<%- include('../partials/footer.ejs') %>
		</div>
	</body>
</html>